<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CinemaWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Vérification d'identifiants</description>
    <display-name>Accueil</display-name>
    <servlet-name>Accueil</servlet-name>
    <servlet-class>com.servlet.Accueil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accueil</servlet-name>
    <url-pattern>/Accueil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Inscription d'un nouveau client</description>
    <display-name>Inscription</display-name>
    <servlet-name>Inscription</servlet-name>
    <servlet-class>com.servlet.Inscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inscription</servlet-name>
    <url-pattern>/Inscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Regénération de mot de passe</description>
    <display-name>Oublie</display-name>
    <servlet-name>Oublie</servlet-name>
    <servlet-class>com.servlet.Oublie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Oublie</servlet-name>
    <url-pattern>/Oublie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Déconnexion</description>
    <display-name>Deconnexion</display-name>
    <servlet-name>Deconnexion</servlet-name>
    <servlet-class>com.servlet.Deconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deconnexion</servlet-name>
    <url-pattern>/Deconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Liste des films</description>
    <display-name>List_Films</display-name>
    <servlet-name>List_Films</servlet-name>
    <servlet-class>com.servlet.List_Films</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>List_Films</servlet-name>
    <url-pattern>/List_Films</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Détail d'un film</description>
    <display-name>Film</display-name>
    <servlet-name>Film</servlet-name>
    <servlet-class>com.servlet.Film</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Film</servlet-name>
    <url-pattern>/Film</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Ajout de la réservation au panier</description>
    <display-name>Panier</display-name>
    <servlet-name>Panier</servlet-name>
    <servlet-class>com.servlet.Panier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Panier</servlet-name>
    <url-pattern>/Panier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Supprimer</display-name>
    <servlet-name>Supprimer</servlet-name>
    <servlet-class>com.servlet.Supprimer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Supprimer</servlet-name>
    <url-pattern>/Supprimer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Recherche</display-name>
    <servlet-name>Recherche</servlet-name>
    <servlet-class>com.servlet.Recherche</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Recherche</servlet-name>
    <url-pattern>/Recherche</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Modification</display-name>
    <servlet-name>Modification</servlet-name>
    <servlet-class>com.servlet.Modification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Modification</servlet-name>
    <url-pattern>/Modification</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Gestion_Films</display-name>
    <servlet-name>Gestion_Films</servlet-name>
    <servlet-class>com.servlet.Gestion_Films</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Gestion_Films</servlet-name>
    <url-pattern>/Gestion_Films</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Compte</display-name>
    <servlet-name>Compte</servlet-name>
    <servlet-class>com.servlet.Compte</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Compte</servlet-name>
    <url-pattern>/Compte</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Paiement</display-name>
    <servlet-name>Paiement</servlet-name>
    <servlet-class>com.servlet.Paiement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Paiement</servlet-name>
    <url-pattern>/Paiement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Gestion_Seances</display-name>
    <servlet-name>Gestion_Seances</servlet-name>
    <servlet-class>com.servlet.Gestion_Seances</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Gestion_Seances</servlet-name>
    <url-pattern>/Gestion_Seances</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Gestion_Commandes</display-name>
    <servlet-name>Gestion_Commandes</servlet-name>
    <servlet-class>com.servlet.Gestion_Commandes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Gestion_Commandes</servlet-name>
    <url-pattern>/Gestion_Commandes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Detail</display-name>
    <servlet-name>Detail</servlet-name>
    <servlet-class>com.servlet.Detail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Detail</servlet-name>
    <url-pattern>/Detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ajout</display-name>
    <servlet-name>Ajout</servlet-name>
    <servlet-class>com.servlet.Ajout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ajout</servlet-name>
    <url-pattern>/Ajout</url-pattern>
  </servlet-mapping>
</web-app>